.image-container {
    position: relative;
  }
  
  .destination-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .image-container:hover .destination-info {
    display: flex;
    opacity: 1;
  }
  